@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--blue-11);
    text-align: center;
    padding-block: var(--size-2);

    .title {
        font-family: "Permanent Marker", var(--font-sans);
        font-size: var(--font-size-fluid-3);
        font-weight: var(--font-weight-9);
        color: var(--gray-1);
    }

    menu {
        display: flex;
        justify-content: center;
        gap: 2rem;

        a {
            font-family: var(--font-sans);
            font-size: var(--font-size-fluid-1);
            font-weight: var(--font-weight-5);
            color: var(--gray-1);
        }

        a:hover {
            font-weight: var(--font-weight-6);
            text-decoration-color: var(--gray-1);
        }
    }
}

main {
    flex-grow: 1;
    width: min(100% - var(--size-6), 80rem);
    margin-inline: auto;
    padding-block: var(--font-size-2);
}

footer {
    text-align: center;
    padding-block: var(--size-2);
    background-color: var(--gray-4);
    color: var(--gray-9);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    max-inline-size: none;
    padding-block-start: var(--size-3);
}

p {
    max-inline-size: none;
    text-align: justify;
    padding-block: var(--size-2);
}

article {
    margin-block: var(--size-2);
}

a {
    color: var(--blue-7);
}

a:hover {
    text-decoration-color: var(--blue-7);
}

blockquote {
    max-inline-size: none;
    margin-block: var(--size-2);

    cite {
        border: none;
        display: block;
        text-align: end;
    }
}

ul,
ol {
    padding-block: var(--size-2);

    li {
        max-inline-size: none;
    }
}

img {
    border-radius: var(--size-2);
}

pre {
    border-radius: var(--size-2);
    padding: var(--size-2);
    margin-block: var(--size-2);
}

iframe {
    max-width: 100%;
}

.wrapper {
    overflow-x: auto;
}

table {
    margin-block: var(--size-2);

    tr {
        th {
            text-align: end;
        }

        th.center {
            text-align: center;
        }

        td {
            max-inline-size: none;
            text-align: start;
            white-space: nowrap;
        }
    }
}

a[role="button"] {
    display: inline-block;
    margin-block: var(--size-2);
    margin-inline-end: var(--size-2);
    padding: var(--size-2) var(--size-3);
    background-color: var(--blue-7);
    border: 2px solid var(--blue-9);
    border-radius: var(--radius-3);
    color: var(--gray-1);
}

a[role="button"]:hover {
    background-color: var(--blue-5);
    text-decoration: none;
}

.alert {
    color: var(--red-7);
}

.job-detail {
    font-weight: var(--font-weight-9);
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: var(--blue-7);
    }

    footer {
        background-color: var(--gray-10);
        color: var(--gray-7);
    }

    a {
        color: var(--blue-5);
    }

    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* Optional, if you also want font styles */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        text-align: start;
        padding-inline: var(--size-5);

        .title {
            flex-grow: 1;
        }
    }
}